i{
    color: white;
    font-size: 1.3rem;

    &:hover{
        cursor: pointer;
    }
}

.main-nav{
    align-items: center;
}


.settings-icon{
    margin-right: 2rem;
}

.new-todo-btn{
    margin-right: 3rem;
}
